.containerForm {
    text-align: center;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* .inputNumber {
    width: 100px;
}

.inputMessage {
    width: 500px;
} */

.botonSubmit {
    margin-top: 5px;
}

@media (min-width: 381px) and (max-width: 765px) {
    /* Iphone */
    /* .inputNumber {
        width: 100px;
    }
    .inputMessage {
        width: 500px;
    } */
}

@media (min-width: 766px) and (max-width: 1040px) {
    /* Ipad */
    /* .inputNumber {
        width: 100px;
    }
    .inputMessage {
        width: 500px;
    } */
}